<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Meow</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <img src="images/pizza_cat.jpg" alt="Cat">
        <img src="images/takeout_cat.jpg" alt="Kitty">
        <img src="images/burrito_cat.jpg" alt="Kittycat">
    </body>
</html>